// Déclaration des variables
$color: rgb(241, 236, 236);
$background-color:#434242;
$background-color-burger: #959392;
$link-color:#646466;
$link-hover-color:#f0a160;
$nav-color:#414142;
$burger-color:#676783;
$secondary-color:#d3d5ea;
$border:#333333;
$button-color:grey;
// Variables pour les polices

$font-family-evil: 'evil_empireregular';
$font-family-W: 'wood_stampregular';
